@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos online</h1>
    <p>"Um livro é um sonho que você segura em suas mãos." — Neil Gaiman</p>
    <div>
        <img src="/img/ilustracaoLivros.jpg"/ height=35% width=35%>
    </div>
</div>
