@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<br>Este sistema foi desenvolvido para estudo das tecnologias ASP.NET Core MVC, Entity Framework Core e SQLServer.</br>
<br />Rafael Muller Morais
<br />Email: tecmakerx@gmail.com
